@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = "~/Views/_Layout.cshtml";
    Page.Title = "Danh sách mặt hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();
    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();

    if (Request["keyword"] != null && Request["search_type"] != null)
    {
        dsMH = c_MatHang.TimKiemMatHang(Request["keyword"], Request["search_type"]);
    }
    else
    {
        dsMH = c_MatHang.getDanhSachMatHang();
    }
}

<div class="container-fluid">

    <div class="row py-5 justify-content-center">
        <form class="form-inline" action="~/Views/v_DanhSachMatHang.cshtml" method="get">
            <label for="keyword">Nhập từ khóa tìm kiếm:</label>
            <input type="text" name="keyword" class="form-control mr-3" placeholder="Từ khóa">
            <label for="search_type">Tìm kiếm theo:</label>
            <select name="search_type" class="form-control mr-3">
                <option value="ten_mat_hang">Tên mặt hàng</option>
                <option value="ma_mat_hang">Mã mặt hàng</option>
            </select>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>

    

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Danh sách mặt hàng</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Công ty SX</th>
                        <th>Hạn SD</th>
                        <th>Năm SX</th>
                        <th>Loại hàng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var mh in dsMH)
                        {
                            <tr>
                                <td>@mh.MA_MAT_HANG</td>
                                <td>@mh.TEN_MAT_HANG</td>
                                <td>@mh.CONG_TY_SX</td>
                                <td>@mh.HAN_SU_DUNG.ToString("dd/MM/yyyy")</td>
                                <td>@mh.NAM_SX.ToString("dd/MM/yyyy")</td>
                                <td>@{
                                        @c_LoaiHang.getLoaiHangById(mh.LOAI_HANG.ToString()).TEN_LOAI_HANG;
                                    }</td>
                                <td>
                                    <a class="btn btn-primary" href="~/Views/v_SuaMatHang.cshtml?id=@mh.MA_MAT_HANG">Sửa</a>
                                    <a class="btn btn-danger" href="~/Views/v_XoaMatHang.cshtml?id=@mh.MA_MAT_HANG">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
 
</div>

