@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities
@using DOANLTHDT_1988216.Functions

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Cập nhật mặt hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();

    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();

    // Khởi tạo các biến cần thiết
    List<LoaiHang> dsLH = new List<LoaiHang>();
    MatHang currentMH = null;
    Message msg = new Message();
    string message = "";

    if (!String.IsNullOrEmpty(Request["id"]))
    {
        dsLH = c_LoaiHang.getDanhSachLoaiHang();
        currentMH = c_MatHang.getMatHangById(Request["id"]);

        if (currentMH == null)
        {
            msg.TYPE = "danger";
            msg.CONTENT = String.Format("{0} {1} {2}", Constants.KHONG_TIM_THAY_MAT_HANG, Constants.DE, Constants.CAP_NHAT).ToUpper();
        }

        // Nếu submit dữ liệu
        if (IsPost)
        {
            if (c_MatHang.capNhatMatHang(
                 Request["id"],
                 Request["ten_mat_hang"],
                 Request["nha_sx"],
                 Request["han_sd"],
                 Request["nam_sx"],
                 Request["loai_hang"]
                 ))
            {
                message = "Cập nhật thành công";
                Response.Redirect("~/Views/v_DanhSachMatHang.cshtml");
            }
            else
            {
                message = "Cập nhật THẤT BẠI";
            }
        }
    }
    else
    {
        msg.TYPE = "info";
        msg.CONTENT = String.Format("{0} {1} {2} {3}",
            Constants.VUI_LONG_CHON,
            Constants.MAT_HANG,
            Constants.DE,
            Constants.CAP_NHAT
            ).ToUpper();
    }
}

<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Cập nhật mặt hàng</h1>
            @{ if (currentMH != null)
                {
                    <form action="~/Views/v_SuaMatHang.cshtml?id=@currentMH.MA_MAT_HANG" method="post">
                        <label for="ten_mat_hang">Tên mặt hàng</label>
                        <input class="form-control" type="text" name="ten_mat_hang" placeholder="Tên mặt hàng" value="@currentMH.TEN_MAT_HANG" /><br />
                        <label for="nha_sx">Nhà sản xuất</label>
                        <input class="form-control" type="text" name="nha_sx" placeholder="Nhà sản xuất" value="@currentMH.CONG_TY_SX" /><br />
                        <label for="han_sd">Hạn sử dụng</label>
                        <input class="form-control" type="date" name="han_sd" placeholder="Hạn sử dụng" value="@currentMH.HAN_SU_DUNG.ToString("yyyy-MM-dd")" /><br />
                        <label for="nam_sx">Năm sản xuất</label>
                        <input class="form-control" type="date" name="nam_sx" placeholder="Năm sản xuất" value="@currentMH.NAM_SX.ToString("yyyy-MM-dd")" /><br />
                        <label for="loai_hang">Loại hàng</label>
                        <select class="form-control" name="loai_hang">
                            @{
                                foreach (var lh in dsLH)
                                {
                                    <option value=@lh.MA_LOAI_HANG @{ if (int.Parse(Request["id"]) == lh.MA_LOAI_HANG) { @Html.Raw("selected")    } }>@lh.TEN_LOAI_HANG</option>
    }
                            }
                        </select>
                        <div class="text-center py-3">
                            <button class="btn btn-primary" type="submit">Sửa mặt hàng</button>
                        </div>
                    </form>
    }}
            @{
                if (msg != null)
                {
                    <div class="alert alert-@msg.TYPE">@msg.CONTENT</div>
                }
            }
        </div>
    </div>

</div>