@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Thêm mặt hàng mới";
    c_LoaiHang c_LoaiHang = new c_LoaiHang();
    c_MatHang c_MatHang = new c_MatHang();
    List<LoaiHang> dsLH = c_LoaiHang.getDanhSachLoaiHang();

    // Message lưu kết quả thông báo trả về
    List<Message> msg = new List<Message>();

    if (IsPost)
    {
        msg = c_MatHang.themSanPham(
            "0",
            Request["ten_mat_hang"],
            Request["han_sd"],
            Request["nha_sx"],
            Request["nam_sx"],
            Request["loai_hang"]);

        if(msg.Count == 1 && msg[0].TYPE == "success")
        {
            Response.Redirect("~/Views/v_DanhSachMatHang.cshtml");
        }

    }
    else
    {
        List<MatHang> dsMH = c_MatHang.getDanhSachMatHang();
    }
}


<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Thêm mặt hàng mới</h1>
            @{
                if (msg.Count > 0)
                {
                    foreach (var m in msg)
                    {
                        <div class="alert alert-@m.TYPE">@m.CONTENT</div>
                    }
                }
            }
            <form id="themMatHangfrm" action="~/Views/v_ThemMatHang.cshtml" method="post">
                <label for="ten_mat_hang">Tên mặt hàng</label>
                <input class="form-control" type="text" name="ten_mat_hang" placeholder="Tên mặt hàng" value="@Response.Cookies["TenMatHang"].Value"/><br />
                <label for="nha_sx">Nhà sản xuất</label>
                <input class="form-control" type="text" name="nha_sx" placeholder="Nhà sản xuất" value="@Response.Cookies["CongTySX"].Value"/><br />
                <label for="han_sd">Hạn sử dụng</label>
                <input class="form-control" type="date" name="han_sd" placeholder="Hạn sử dụng" value="@Response.Cookies["HanSD"].Value"/><br />
                <label for="nam_sx">Năm sản xuất</label>
                <input class="form-control" type="date" name="nam_sx" placeholder="Năm sản xuất" value="@Response.Cookies["NamSX"].Value"/><br />
                <label for="loai_hang">Loại hàng</label>
                <select class="form-control" name="loai_hang">
                    @{
                        foreach (var lh in dsLH)
                        {
                            <option value=@lh.MA_LOAI_HANG @{
                                if(Response.Cookies["LoaiHang"].Value == lh.MA_LOAI_HANG.ToString())
                                {
                                    @Html.Raw("selected")
                                }
                            }>@lh.TEN_LOAI_HANG</option>
                        }
                    }
                </select>
                <div class="text-center py-3">
                    <button class="btn btn-primary" type="submit">Thêm mặt hàng</button>
                </div>
            </form>
        </div>
    </div>
</div>








